{{ define "main" }}
{{ $cover := .Resources.GetMatch "index.{jpg,png,webp}" }}
{{ partial "big-title-cover.html" (dict "image" $cover "titleText" .Title "showTitle" true) }}
{{ partial "breadcrumb.html" . }}
<div class="container is-max-tablet is-size-5">
    <div class="block has-text-justified is-size-5">
        {{ .Content }}
    </div>
</div>
<div class="container">
{{ range $index, $element := .Paginator.Pages }}
<div class="section" id="sections">
        {{ partial "blog-summary.html" (dict "context" $element "index" $index "displaySection" false) }}
        {{ end }}
    </div>
    {{ template "partials/pagination.html" . }}
</div>
{{ end }}