{{ define "main" }}
<div class="section">
    {{ partial "breadcrumb.html" . }}
    <div class="container is-size-5">
        {{ partial "blog-heading.html" . }}
        <div class="has-text-centered series-badge-wrapper">
            {{ partial "series-badge.html" . }}
            {{ partial "categories-badge.html" . }}
        </div>
    </div>
    <div class="container">
        {{ $cover := .Resources.GetMatch (.Params.cover | default "cover.*") }}
        {{ with $cover }}
        <figure class="image is-2by1 blog-cover">
            {{ with $cover.Resize "1000x q80 webp" }}
            <img class="image-cover" src="{{ .RelPermalink }}" alt="{{ .Title }}" loading="lazy">
            {{ end }}
        </figure>
        </br>
        {{ end }}
        <div class="container is-max-desktop">
            {{ if and .TableOfContents (strings.Contains .TableOfContents "<a") }} <div class="blog-toc">
                {{ partial "toc.html" . }}
        </div>
        {{ end }}
        <div class="blog-article-content has-text-justified is-size-5">
            {{ .Content }}
        </div>
    </div>
    <div class="container">
        {{ partial "social-share.html" . }}
        {{ partial "article-navigation.html" . }}
    </div>
</div>
<div class="container">
    {{ partial "comments.html" . }}
</div>
</div>
{{ end }}