{{ define "main" }}
<div class="section">
    {{ partial "breadcrumb.html" . }}
    <div class="container">
        <div class="content">
            <h1 class="title">{{ .Title }}</h1>
            <p class="subtitle">{{ len .Pages }} article{{ if ne (len .Pages) 1 }}s{{ end }} dans cette série</p>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        {{ range $i, $page := .Pages.ByDate }}
        {{ partial "serie-summary.html" (dict "context" $page "index" $i "displaySection" false) }}
        {{ end }}
    </div>
</div>
{{ end }}