{{ define "main" }}
<div class="section">
    <div class="container">
        {{ partial "breadcrumb.html" . }}
        {{ partial "section-heading.html" . }}
    </div>
    <br>
</div>
<div class="section">
    <div class="container columns is-vcentered">
        <div class="column is-one-quarter">
            <figure class="image is-1by1">
                <p>
                    {{ $image := .Resources.GetMatch "index.jpg" }}
                    <img alt="the cyclist face :)" class="is-rounded" src="{{ $image.RelPermalink }}">
                </p>
            </figure>
        </div>
        <div class="column">
            <div>
                <div class="content has-text-justified is-size-5">
                    <a href="{{ .RelPermalink }}">
                <span class="title is-4 is-family-sans-serif">
                    Ivan B.
                </span>
                        <span> | </span>
                        <span class="subtitle is-6 is-family-sans-serif">
                    <a href="https://www.strava.com/athletes/58243641" target="_blank">@ivanb</a>
                </span>
                    </a>
                    <p>
                        {{ .Content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section is-medium">
    <div class="container">
    </div>
</div>
{{ end }}
