{{ define "main" }}
{{ $cover := resources.Get "images/COVER.webp"}}
{{ partial "big-title-cover.html" (dict "image" $cover "titleText" "The cyclist diary" "isHome" true "showTitle" true)
}}
{{ partial "banner.html" . }}
<div class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle">{{ i18n "latest_posts" }}</h1>
        <hr>
    </div>
</div>
<div class="">
    <div class="container">
        {{ range $index, $element := .Paginator.Pages.Limit 5 }}
        {{ partial "adventure-summary.html" (dict "context" $element "displaySection" true "index" $index) }}
        {{ end }}
    </div>
</div>
<div class="container home-links">
    <hr>
    <div class="has-text-centered">
        <span>{{ i18n "home_read_articles" }} </span>
        <a href="{{ relLangURL "blog" }}">{{ i18n "home_more_articles" }} </a>
        <span>{{ i18n "home_or_discover" }} </span>
        <a href="{{ relLangURL "adventures" }}">{{ i18n "home_more_adventures" }}</a>
    </div>
</div>
{{ end }}