{{ define "main" }}
<!--<div class="section">
    <div class="container is-max-tablet has-text-justified">
        <div class="is-size-5">
            {{ .Content }}
        </div>
    </div>
</div>-->
<img src="images/cover.webp" alt="">
<div class="section">
    <div>
        <hr>
        {{ range $index, $element := .Paginator.Pages.Limit 5 }}
        {{ partial "adventure-summary.html" (dict "context" $element "displaySection" true "index" $index) }}
        {{ end }}
    </div>
</div>

{{ end }}
