
.footer {
    --bulma-footer-background-color: rgba(112, 138, 88, 0.34) !important;
}

@media (prefers-color-scheme: dark) {
    .footer {
        color: #3e3e3e;
    }
    .footer a {
        color: #777777;
    }
}