@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "https://unpkg.com/@glidejs/glide@3.6.2/dist/css/glide.core.min.css";
@import "https://unpkg.com/@glidejs/glide@3.6.2/dist/css/glide.theme.min.css";

/** ROOT VARIABLES **/
:root {
    --bulma-navbar-item-color: white;
    --bulma-family-primary: serif;
    --bulma-link-text: #303030;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bulma-link-text: #e0e0e0;
    }
}

a {
    text-decoration: none;
    color: var(--bulma-link-text);
}

a:hover {
    text-decoration: underline;
}

.has-text-justified p {
    margin-bottom: 2rem;
}