@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "https://unpkg.com/@glidejs/glide@3.6.2/dist/css/glide.core.min.css";
@import "https://unpkg.com/@glidejs/glide@3.6.2/dist/css/glide.theme.min.css";

/** ROOT VARIABLES **/
:root {
    --bulma-navbar-item-color: white;
    --bulma-family-primary: serif;
    --bulma-link-text: #898989;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

