.image.is-128x128 {
    object-fit: cover;
}

.image.is-3by2>img {
    object-fit: cover !important;
}

.container.is-max-tablet img {
    display: block;
    margin: auto;
}

@media screen and (min-width: 450px) {
    .has-text-justified p img {
        max-width: 80%;
    }
}