.image.is-128x128 {
    object-fit: cover;
}

.image-cover {
    object-fit: cover;
}

.plain-image {
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: 90vw;
}

.cover-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: 60% 50%;
}

@media screen and (min-width: 1200px) {
    .adventure-gps-display img {
        width: 50vw;
        display: block;
        margin: auto;
    }
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.3em;
}