.image.is-128x128 {
    object-fit: cover;
}

.image > img {
    object-fit: cover !important;
}

.container.is-max-tablet img {
    display: block;
    margin: auto;
}

.cover-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: 60% 50%;
}

.has-text-justified p img {
    max-width: 80%;
}

@media screen and (min-width: 1200px) {
    .adventure-gps-display img {
        width: 50vw;
        display: block;
        margin: auto;
    }
}