.navbar {
    position: absolute;
    top: 0 ;
}
@media screen and (max-width: 450px) {
    #cover-display {
        height: 10rem;
    }
}

#cover-display {
    background-image: url({{ (resources.Get "images/cover.webp").RelPermalink }});
    background-size: cover;
    position: static;
    text-shadow: 2px 2px 2px black;
}

.navbar-burger span {
    color: white;
}

#cover-display .title {
    color: white;
    position: absolute;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 3rem;
}

#a-fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}