.navbar {
    --bulma-navbar-background-color: var(--the-cyclist-diary-green) !important;
}

.navbar .title{
    color: var(--the-cyclist-diary-yellow);
}

.navbar .navbar-item {
    color: var(--the-cyclist-diary-yellow);
}

.navbar-burger {
    --bulma-navbar-burger-color: var(--the-cyclist-diary-yellow);
}