.navbar {
    --bulma-navbar-background-color: #708A58;
}

.navbar .title{
    color: #FFF1CA;
}

.navbar .navbar-item {
    color: #FFF1CA;
}

.navbar-burger {
    --bulma-navbar-burger-color: #FFF1CA;
}