.pagination-link.is-current {
    background-color: var(--the-cyclist-diary-light-green);
    border-color: var(--the-cyclist-diary-green);
    color: var(--bulma-link-text);
}

@media screen and (min-width: 450px) {
    .container.pagination-wrapper {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}