<div class="container has-text-justified">
    {{ if eq .displaySection true }}
    <p class="title is-6 is-underlined">
        <a href="{{ .context.CurrentSection.RelPermalink }}">{{ .context.CurrentSection.LinkTitle }}</a>
    </p>
    {{ end }}
    <a href="{{ .context.RelPermalink }}">
        <span class="title is-4 is-family-sans-serif">
            {{ .context.Title }}
        </span>
        <span class="subtitle is-6 is-family-sans-serif">
            | {{ time.Format "2006-01-02" .context.PublishDate }}
        </span>
    </a>
    <div class="mt-5 is-size-5">
        {{ .context.Summary }}
        {{ if .Truncated }}
        <a href="{{ .context.RelPermalink }}">Lire plus...</a>
        {{ end }}
    </div>
    <hr>
</div>