<div class="adventure-summary">
{{ $isEven := eq (mod .index 2) 0 }}
    {{ if $isEven}}
    <div class="columns">
    {{else}}
    <div class="columns is-flex-direction-row-reverse">
    {{end}}
    {{ $images := .context.Resources.ByType "image" }}
    {{ if $images }}
        {{ $randomImage := index (first 1 $images) 0 }}
        <div class="column">
            <a href="{{ .context.RelPermalink }}">
            <figure class="image is-5by3">
                <img class="image-cover" src="{{ $randomImage.RelPermalink }}" alt="{{ .context.Title }}">
            </figure>
            </a>
        </div>
        <div class="column is-two-fifths adventure-summary-text">
            <div>
                {{ if eq .displaySection true }}
                <p class="title is-6">
                    <a href="{{ .context.CurrentSection.RelPermalink }}">{{ .context.CurrentSection.LinkTitle }}</a>
                </p>
                {{ end }}
                <a href="{{ .context.RelPermalink }}">
                <span class="title is-4 is-family-sans-serif">
                    {{ .context.Title }}
                </span>
                    <span class="subtitle is-6 is-family-sans-serif">
                    | {{ time.Format "2006-01-02" .context.PublishDate }}
                </span>
                </a>
                <div class="mt-3">
                    {{ .context.Summary }}
                    {{ if .context.Truncated }}
                    <a href="{{ .context.RelPermalink }}">Lire plus...</a>
                    {{ end }}
                </div>
            </div>
        </div>
    {{end}}
</div>
</div>