<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="ibethus/the-cyclist-diary-v2"
        data-repo-id="R_kgDOM2ijGA"
        data-category="General"
        data-category-id="DIC_kwDOM2ijGM4Ci394"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="fr"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>