{{ define "main" }}
<div class="section">
    <div class="container">
        <div>
        {{ partial "breadcrumb.html" . }}
        {{ partial "section-heading.html" . }}
        <div class="block has-text-justified is-size-5">
            {{ .Content }}
        </div>
        <div class="adventure-gps-display">
            {{ partial "gps-display.html" . }}
        </div>
        </div>
        <div class="section">
            {{ template "partials/pagination.html" . }}
            {{ range $index, $element := .Paginator.Pages }}
                {{ partial "adventure-summary.html" (dict "context" $element "displaySection" false "index" $index) }}
            {{ end }}
            {{ template "partials/pagination.html" . }}
        </div>
    </div>
</div>
{{ end }}
