{{ define "main" }}
<div class="section">
    <div class="container is-max-tablet">
        {{ partial "breadcrumb.html" . }}
        {{ partial "section-heading.html" . }}
        <div class="block has-text-justified is-size-5">
            {{ .Content }}
        </div>
        {{ partial "gps-display.html" . }}
    </div>
    <div class="container is-max-tablet">
        <hr class="mb-6">
        {{ range .Paginator.Pages }}
        {{ partial "adventure-summary.html" (dict "context" . "displaySection" false) }}
        {{ end }}
        {{ template "partials/pagination.html" . }}
    </div>
</div>
{{ end }}
