{{ define "main" }}
<div class="section">
    <div class="container is-max-tablet">
        {{ partial "breadcrumb.html" . }}
        {{ partial "heading.html" . }}
        {{ partial "gps-display.html" . }}
        <div class="has-text-justified is-size-5">
            {{ .Content }}
        </div>
    </div>
    <div class="section">
        {{ partial "giscus.html" }}
    </div>
</div>
<script>
    let sliders = document.querySelectorAll('.glide');
    sliders.forEach(s => {
        new Glide(s, {
            type: 'carousel',
            startAt: 0,
            perView: 2
        }).mount();
    })
</script>
{{ end }}
