{{ define "main" }}
{{ $cover := .Resources.GetMatch "index.{jpg,png,webp}" }}
{{ partial "big-title-cover.html" (dict "image" $cover "titleText" .Title) }}
<div class="table-of-content-header">
    <div class="container.is-fullhd">
        {{ partial "breadcrumb.html" . }}
        <div class="container is-max-tablet is-size-5">
            {{ .Content }}
        </div>
    </div>
</div>
<div class="section">
    <div class="container.is-fullhd">
        <div class="columns is-multiline">
            {{ $pager:= .Paginate .Sections 8 }}
            {{ range $item := $pager.Pages }}
            <div class="column is-one-quarter">
                <div class="card">
                    {{ $itemCover := $item.Resources.GetMatch "index.{jpg,png,webp}" }}
                    {{ with $itemCover }}
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="{{ $item.RelPermalink }}">
                                <img class="image-cover" src="{{ $itemCover.RelPermalink }}" alt="{{ $item.Title }}"
                                    loading="lazy">
                            </a>
                        </figure>
                    </div>
                    {{ end }}
                    <div class="card-content has-text-centered">
                        <a href="{{ $item.RelPermalink }}">
                            <p class="title is-5">{{ $item.Title }}</p>
                        </a>
                        <p class="subtitle is-6" style="white-space: nowrap;">{{ time.Format "2006-01-02"
                            $item.PublishDate }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ template "partials/pagination.html" . }}
</div>
{{ end }}